*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#corpo{
    background-image: linear-gradient(to left, rgba(184, 219, 217, 0.7), rgba(184,219,217, 0.4));
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #78e0dcff;
    height: 5vh;
}

#navlist{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

#content{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgba(120, 224, 220, 0.7), rgba(120,224,220, 0.4));
    width: 350px;
    height: 300px;
    padding: 20px;
    border: 1px solid rgb(35, 31, 32, 0.5);
    border-radius: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.box-input{
    border: none;
    border-bottom: solid 1px;
}

.button{
    background-color: white;
    border-color: #78e0dcff;
    border-radius: 14%;
    color: #231f20;
}

.button:hover{
    background-color: #78e0dcff;
    border-color: #78e0dcff;
    border-radius: 14%;
    color: #231f20;
    box-shadow: 0 12px 16px 0 rgba(35, 31, 32,0.24), 0 17px 50px 0 rgba(35, 31, 32,0.19);
}

.button:active{
    background-color: #78e0dcff;
    background-color: #78e0dcff;
    border-radius: 14%;
    transform: translateY(4px);
}
